classification/logs/*
data_loaders/test_dataloaders/*
dataset/DATASET WHU-RS19/*
classification/my_weights/*.pth
classification/logs*/*
*/__pycache__/*
__pycache__/
classification/recaps/logs*/*
dataset/RECSIS45/*
dataset/DOTA/*/*
*.zip
dataset/PennFudanPed/*
classification/weights_objd/*
